<div id="modal-users-application" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h3>Users</h3>
        </div>
        <div class="uk-modal-body uk-padding-remove" uk-overflow-auto>
            <dl class="uk-list uk-description-list uk-description-list-divider uk-list-striped">
                <li class="uk-flex uk-flex-between uk-flex-middle">
                    <div>
                        <dt>User Full Name</dt><span class="uk-badge">Directory</span>
                    </div>
                    <div>
                        <a href="{% url 'user_details' 1 %}" class="uk-button uk-button-default">Details</a>
                    </div>
                </li>
                <li class="uk-flex uk-flex-between uk-flex-middle">
                    <div>
                        <dt>User Full Name</dt><span class="uk-badge">Directory</span>
                    </div>
                    <div>
                        <a href="{% url 'user_details' 1 %}" class="uk-button uk-button-default">Details</a>
                    </div>
                </li>
                <li class="uk-flex uk-flex-between uk-flex-middle">
                    <div>
                        <dt>User Full Name</dt><span class="uk-badge">Directory</span>
                    </div>
                    <div>
                        <a href="{% url 'user_details' 1 %}" class="uk-button uk-button-default">Details</a>
                    </div>
                </li>
                <li class="uk-flex uk-flex-between uk-flex-middle">
                    <div>
                        <dt>User Full Name</dt><span class="uk-badge">Directory</span>
                    </div>
                    <div>
                        <a href="{% url 'user_details' 1 %}" class="uk-button uk-button-default">Details</a>
                    </div>
                </li>
            </dl>
        </div>
    </div>
</div>