{% extends 'auth/base_login.html' %}
{% block form_login %}
    <div class="uk-card-header">
        <h3 class="uk-card-title">Login</h3>
    </div>

    <form method="post" class="uk-card uk-card-default">
        {% csrf_token %}
        <div class="uk-card-body">
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="username" aria-label="username" name="username">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="password" placeholder="Password" aria-label="Input" name="password">
            </div>
        </div>
        <div class="uk-card-footer uk-padding-remove">
            <button class="uk-button uk-button-default uk-width-1-1">Entrar</button>
        </div>

    </form>
{% endblock %}