{% extends 'core/base.html' %}
{% load static %}
{% block title %}Providers{% endblock title %}

{% block body %}

{% include 'auth/widgets/header.html' with selected='providers' %}

<main class="uk-container uk-padding">
    <div class="uk-flex uk-flex-between">
        <h1>Registered Providers</h1>
        <div class="uk-flex uk-flex-column uk-flex-center">
            <a class="uk-button uk-button-default" href="#modal-modify-provider" uk-toggle>Add</a>
        </div>
    </div>

    <section>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-5 uk-margin" uk-grid>
            <div class="uk-width-expand">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Provider Name</h3>
                    <span>Created at: 00/00/0000</span><br>
                    <span>Last login: 00/00/0000</span>
                    <div class="uk-margin"></div>
                    <div class="uk-flex">
                        <a href="#" class="uk-button uk-button-default">Edit</a>
                        <a href="#" class="uk-button uk-button-default">Disable</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'auth/widgets/modal_modify_provider.html' %}

{% endblock body %}