<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD Login</title>
</head>

<body>

    <h1>AD Connection Details</h1>
    <h3>Name: {{ ad_connection.details.name }}</h3>
    <h4>Description: {{ ad_connection.details.description }}</h4>
    <hr>
    <p>{{ ad_connection.address }}</p>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="username">Password</label>
            <input type="password" name="password" id="password">
        </p>
        <button type="submit">Submit</button>
    </form>

    {% if messages %}
    <div class="m-0">
        <ul class="messages m-0" style="padding-left: 0;">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>

</html>