{% extends 'core/base.html' %}
{% block title %}Login{% endblock title %}

{% block body %}

{% include 'dashboard/widgets/header.html' with selected='home' %}

<main class="uk-container uk-padding">
    <h1>My Applications</h1>
    <hr class="uk-divider-icon">

    <section>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-5 uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://images.pexels.com/photos/11556100/pexels-photo-11556100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Application Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit qui dolores fuga numquam sequi et beatae, aut, cumque, perferendis accusamus. Architecto sed in
                        distinctio iste. Minus vero impedit tempore!</p>
                    <button class="uk-button uk-button-default">Open</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-5 uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://images.pexels.com/photos/11556100/pexels-photo-11556100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Application Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit qui dolores fuga numquam sequi et beatae, aut, cumque, perferendis accusamus. Architecto sed in
                        distinctio iste. Minus vero impedit tempore!</p>
                    <button class="uk-button uk-button-default">Open</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-5 uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://images.pexels.com/photos/11556100/pexels-photo-11556100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Application Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit qui dolores fuga numquam sequi et beatae, aut, cumque, perferendis accusamus. Architecto sed in
                        distinctio iste. Minus vero impedit tempore!.</p>
                    <button class="uk-button uk-button-default">Open</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-5 uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://images.pexels.com/photos/11556100/pexels-photo-11556100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Application Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit qui dolores fuga numquam sequi et beatae, aut, cumque, perferendis accusamus. Architecto sed in
                        distinctio iste. Minus vero impedit tempore!</p>
                    <button class="uk-button uk-button-default">Open</button>
                </div>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-5 uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="https://images.pexels.com/photos/11556100/pexels-photo-11556100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-width-expand">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Application Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit qui dolores fuga numquam sequi et beatae, aut, cumque, perferendis accusamus. Architecto sed in
                        distinctio iste. Minus vero impedit tempore!</p>
                    <button class="uk-button uk-button-default">Open</button>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock body %}