{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block body %}

{% include 'dashboard/widgets/header.html' with selected='profile' %}

<main class="app-secondary-color uk-flex uk-flex-center uk-flex-middle app-max-height">

    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="avatar" width="75" height="75" src="{% static 'dashboard/images/application-default.jpg' %}" alt="Avatar">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Full Profile Name</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">Created at: 00/00/0000</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illum aspernatur laboriosam molestias inventore eaque recusandae dicta accusantium nesciunt! Quaerat, minus inventore
                doloremque quam?</p>
        </div>
        <div class="uk-card-footer">
            <a href="#" class="uk-button uk-button-default">Edit my profile</a>
        </div>
    </div>

</main>

{% endblock body %}