{% extends 'core/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block body %}

{% include 'dashboard/widgets/header.html' with selected='users' %}

<main class="uk-container uk-padding">
    <div class="uk-flex uk-flex-between">
        <h1>Usuários registrados</h1>
        <div class="uk-flex uk-flex-column uk-flex-center">
            <a class="uk-button uk-button-default" href="#modal-modify-user" uk-toggle>
                <span uk-icon="plus"></span> Add
            </a>
        </div>
    </div>
    <hr class="uk-divider-icon">

    <section>
        <ul class="uk-list uk-list-striped">
            
            {% for user in users %}
            <li>
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-border-circle" width="40" height="40" src="{% static 'images/user.png' %}" alt="User Avatar">
                    </div>
                    <div class="uk-width-expand uk-flex uk-flex-between uk-flex-middle">
                        <div>
                            <h4 class="uk-margin-remove-bottom">{{ user.get_full_name }} ({{ user.username }})</h4>
                            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">
                                {% if not user.profile %}
                                <span uk-icon="warning" class="uk-text-warning"></span> <span class="uk-text-warning">Usuário sem perfil</span> |
                                {% endif %} 
                                <span uk-icon="calendar"></span> Criado em: {{ user.date_joined|date:"d/m/Y" }} |
                                <span uk-icon="clock"></span> Último acesso: {{ user.last_login|date:"d/m/Y" }}
                            </p>
                        </div>
                        <div class="uk-margin-small-top">
                            {% if not user.profile %}
                                <a href="#modal-create-profile" uk-toggle class="uk-button uk-button-small uk-button-default" uk-icon="user"></a>
                            {% endif %}
                            <a href="{% url 'user_details' user.id %}" class="uk-button uk-button-small uk-button-default" uk-icon="info"></a>
                            <a href="{% url 'user_details' user.id %}" class="uk-button uk-button-small uk-button-danger" uk-icon="ban"></a>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
            <div class="uk-alert uk-alert-warning" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Não há usuários cadastrados.</p>
            </div>
            {% endfor %}
        </ul>
    </section>
</main>

{% include 'dashboard/widgets/modal_modify_user.html' %}

{% endblock body %}