.app-bg-color {
    background-color: #E2EAFC !important;
}

.app-primary-color {
    background-color: #22577A !important;
}

.app-on-primary-color {
    color: #fff !important;
}

.app-primary-color-text {
    color: #22577A !important;
}

.app-secondary-color {
    background-color: #38A3A5 !important;
}

.app-secondary-color-text {
    color: #38A3A5 !important;
}

/* =============================== */

.full-width {
    min-width: 100%;
}

.full-height {
    min-height: 100vh;
}