:root {
    --app-background-color: #ebf2fa;
    --app-primary-color: #14213d;
    --app-secondary-color: #fca311;
}

.app-bg-color {
    background-color: var(--app-background-color) !important;
}

.app-primary-color {
    background-color: var(--app-primary-color) !important;
}

.app-on-primary-color {
    color: #fff !important;
}

.app-primary-color-text {
    color: var(--app-primary-color) !important;
}

.app-secondary-color {
    background-color: var(--app-secondary-color) !important;
}

.app-secondary-color-text {
    color: var(--app-secondary-color) !important;
}

/* =============================== */

.full-width {
    min-width: 100%;
}

.full-height {
    min-height: 100vh;
}

.max-full-height {
    max-height: 100vh;
    overflow-y: auto;
}

.app-max-height {
    height: calc(100vh - 146px);
}