{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Box - {% block title %}Single Sign On Application{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %} {% endblock styles %}
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    {% block script %}
    {% endblock script %}
</head>

<body>

    {% block body %}
    {% endblock body %}

    {% if messages %}
    <div id="messages-container">
        {% for message in messages %}
        <div uk-alert class="uk-alert-primary">
            <a class="uk-alert-close" uk-close></a>
            <P>{{ message }}</P>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</body>

</html>